@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  user-select: none;
}

html,
body {
  height: 100vh;
}